@font-face{
    font-family: "fonti";
    src: url(./fonts/Raleway-Light.ttf);
}
@font-face{
    font-family: "fonti2";
    src: url(./fonts/Roboto-Light.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-image: url(./img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 416.337px;
    height: 1046.135px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid white;
}
.logo{
    width: 289.9px;
    height: 180.18px;
    border: none;
    margin: auto;
    margin-top: 200px;
    background-image: url(./img/Frame\ 10.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: center;
    background-position-y: 50px;
}
.user{
    width: 335px;
    height: 100px;
   
    background-image: url(./img/person_24px_outlined.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: right;
    
}
.line1{
    width: auto;
    height: 0.24px;;
    background-color: white;
    margin-left: 75px;
    margin-top: 15px;
}
label{
    color: #FFF;
    font-family: "fonti";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 80px;
}
.pass{
    width: 335px;
    height: 100px;
    background-image: url(./img/Group\ 218.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: right;
}
.line2{
    width: auto;
    height: 0.24px;;
    background-color: white;
    margin-left: 75px;
    margin-top: 15px;
}
button{
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #CFD8DC;
    margin-left: 80px;
    border: none;
    color: #2A2A2A;
    text-align: center;
    font-family: "fonti2";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}


